@import url( 'https://fonts.googleapis.com/css?family=Roboto');

*,
*::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



body {
  font-family: 'Roboto', sans-serif;
  color: #c0b293;
  line-height: 1.5;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(#455a64, .7);
  border-radius: 5px;
  @media screen and(min-width:700px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}

.servicios {
  list-style: none;
  text-align: center;
  @media screen and(min-width: 700px) {
    text-align: left;
  }
}


.info-empresa {
  padding: 1rem;
  background-color: lighten(#455a64, 50%);

}
.h3-info{
    @media screen and(min-width: 700px) {
        text-align: left;
        margin-bottom: 0.5rem;
      }
      text-align: center; 
}

.nombre-empresa {
  color: darken(#455a64, 15%);
}

.contacto {
  padding: 1rem;
  background-color: lighten(#455a64, 60%);

}
.h3-con{
    margin-bottom: 1rem; 
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}

.inputc{
    width: 100%;
    padding: 1rem;
    border: 1px solid lighten(#455a64, 50%);
}

.texttarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid lighten(#455a64, 50%);
    resize: none;
  }


.labelFormulario{
    display: block;
}

.full {
  grid-column: 1 / 3;
}

.boton-enviar {
    width: 100%;
    padding: 1rem;
    border: 1px solid lighten(#455a64, 50%);
  background-color: lighten(#455a64, 50%);
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;

}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #c0b293;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 65px;
    margin-top: 0.7%;
    margin-left: 0.5%;
    padding:0px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #d8c69e;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}


@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
      display: block;
  }
  .menuUl{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #c0b293;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: #d8c69e;
  }
  #check:checked ~ ul{
      left:0;
  }
}
