*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #c0b293;
    height: 80px;
    width: 100%;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    height: 60px;
}
.menuUl{
    float: right;
    margin-right: 20px;
}
.menuNav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menuNav a {
    display: block;
    padding: 2em;
    line-height: 15px;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase
}
.menuNav a:hover {
    background-color: #CC673B;
}
.menuNav ul li ul {
    display: none;
    background: #c0b293;
}
.menuNav ul li a:hover + ul, .menuNav ul li ul:hover {
    display: block;
}


li a.active, li a:hover{
    background: #d8c69e ;
    transition: .5s;
    
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}



@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    .menuUl{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:  #c0b293;
        ;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: #d8c69e;
    }
    #check:checked ~ ul{
        left:0;
    }

}






.slider-container {
    display: flex;
    align-content: center;
    width: 100%;
    height: 50vh;
    overflow-x: scroll;
  
    /* Vamos a añadir esto 👇 */
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 40%;
    width: 50%;
    object-fit: cover;
  
    /* Vamos a añadir esto 👇 */
    scroll-snap-align: center;
  }

.seccion{
    text-align: center;
    color: #c0b293;
    padding: 2%;
}

.redes{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
}

.imagenesRedes{
    width:25px;
    height:25px;
}

.items{
    display: flex;
    padding: 1rem;
}

@media (max-width: 40rem) {
    .items {
      width: 50%;
    }
  }
  
  @media (max-width: 56rem) {
    .items {
      width: 33.3333%;
    }
  }



  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
    
  }